header {
  height: 90px;
  background-color: #2c3e50;
}

.my-avatar {
  height: 250px;
}

.my-box-img {
  border-radius: 10px;
}

.altezza-fasulla {
  height: 700px;
}

nav {
  background-color: #2c3e50;
}

.button {
  font-size: 18px;
  font-weight: 500;
  color: white;
  padding: 10px 18px;
  border-radius: 5px;
}

/* ----------------------------------- */

/* ---- Text-classes ---- */
.my-text-section {
  width: 100%;
}

.my-text-white {
  color: white;
}

.my-text-grey {
  color: #333333;
}

.my-text-tiffany {
  color: #1abc9c;
}

h1 {
  font-size: 60px;
}

.f-bold {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: white;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: white;
}

::placeholder {
  color: #2c3e50;
  font-weight: 600;
  opacity: 1;
}

textarea {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: white;
  width: 100%;
}

/*  */

/* ---- Color Classes ---- */
.my-tiffany-color {
  background-color: #1abc9c;
  border: #1abc9c;
}

.my-red-color {
  background-color: #ba4b63;
}

.my-cyan-color {
  background-color: #1ea4b6;
}

.my-black-color {
  background-color: #140f0f;
}

.my-azure-color {
  background-color: #1c83c1;
}

.my-blue-color {
  background-color: #0e38b5;
}

.my-brown-color {
  background-color: #ccb2a3;
}

.my-lgr-color {
  background-color: #3a546d;
}

.my-gr-color {
  background-color: #2c3e50;
}
/*  */

/* ---- Icons ---- */

.icons > * {
  font-size: 1.3em;
  width: 3em;
  text-align: center;
  line-height: 3em;
  border: 1px solid white;
  color: #fff;
  border-radius: 2em;
  margin: 0 3px;

  /* per span */
  display: inline-block;
}

.fa-circle {
  font-weight: 400;
}

.in-span {
  font-family: Arial, Helvetica, sans-serif;
}

/* Star */
.star {
  width: 100%;
}

.fa-star {
  margin: 0 3%;
  font-size: 30px;
  vertical-align: middle;
}

.star hr {
  display: inline-block;
  border-radius: 20px;
  vertical-align: middle;
  width: 13%;
  height: 4px;
  opacity: 1;
}
/*  */
/*  */

/* Media */
@media screen and (max-width: 765px) {
  .my-text-section > h1 {
    font-size: 40px;
  }

  .my-text-section > h4 {
    font-size: 18px;
  }
}

@media screen and (max-width: 575px) {
  .ghostdiv {
    display: none;
  }
}
/*  */
